.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.ant-spin-blur {
  clear: both;
  opacity: 0.8 !important;
  user-select: none;
  pointer-events: none;
  filter: blur(2px) !important;
}

.sc-bxivhb {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes logoAnim {
  0%   {opacity: 0.1;}
  20%  {opacity: 0.2;}
  40%  {opacity: 0.4;}
  60%  {opacity: 0.6;}
  80%  {opacity: 0.8;}
  100% {opacity: 1;}
}

.sc-bdVaJa {
  animation-name: logoAnim;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
